.nav {
    height: auto;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #85c2ff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}